body {
    max-width: 1920px;
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

/*header*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-barraSuperio{
    display: flex;
    justify-content: space-around;
    background-color: #505A5A;
    align-items: center;
    height: 50px;
    color: #fff;
}

.header-barraSuperio-social{
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

.header-barraSuperio-log {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconHeader {
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 20px;
}

.header-barraSuperio-log-elemento {
    display: flex;
    align-items: center;
}
#btnLogin {
    background-color: #505A5A;
    border: none;
    color: #fff;
    text-decoration: none;

}
.header-barraSuperio-log-btn {
    align-items: center;
}

/*login*/

.login-cerrado {
    display: none;
    
}

.login-abierto {
    display: block;
    position: absolute;
    top: 50px;
    padding: 40px 20px 20px 20px;
    background: #fff;
}

.contendor-form-login{

    color: black;
}
.contendor-form-login h5 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
}
.form-login-inputs {
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #FFE800;
    display: flex;
    flex-direction: column;
}

.form-login-inputs label {
    font-size: 10px;
}

.form-login-inputs input {
    margin-bottom: 10px;
    font-size: 15px;
}

.form-login-inputs ul {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.form-login-inputs li {
    align-items: center;
    
}

.form-login-inputs li a {
    text-decoration: none;
    color: #505A5A;
    align-items: center;
    margin-bottom: 5px;
}

.form-login-inputs li::before {
    content: "- ";
    color: #FFE900;
    font-size: 25px;
    height: 20px;
}

.btn-ingresar{
    color: #fff;
    background: #2D3A4B;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

/*carrito*/


/*barra inferios header */
.header-barraInferio {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    align-items: center;
    padding: 20px 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 60%;   
}

.nav a {
    color: #505A5A;
}

.link-nav-activo {
    color: #505A5A;
    background: rgba(252,236,252,1);
    background: -moz-linear-gradient(top, rgba(252,236,252,1) 0%, rgba(255,255,255,1) 33%, rgba(247,255,0,1) 51%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,236,252,1)), color-stop(33%, rgba(255,255,255,1)), color-stop(51%, rgba(247,255,0,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(252,236,252,1) 0%, rgba(255,255,255,1) 33%, rgba(247,255,0,1) 51%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(252,236,252,1) 0%, rgba(255,255,255,1) 33%, rgba(247,255,0,1) 51%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,236,252,1) 0%, rgba(255,255,255,1) 33%, rgba(247,255,0,1) 51%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(252,236,252,1) 0%, rgba(255,255,255,1) 33%, rgba(247,255,0,1) 51%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ffffff', GradientType=0 );
    
    
}

.nav-inactivo {
    display: none;
}

.nav-activo {
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    width: 100vw;
    height: 330px;
    background: #F8F8F8;
    
}

.contenedor-nav-activo {
    width: 90vw;
    margin: auto;
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
    height: 100%;
}

.contenedor-nav-activo-primera {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 30%;
    justify-content: center;
    
}

.contenedor-nav-activo-primera h5 {

    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 40%;
    padding: 0px 10px;
    font-weight: 600;
    color: #505A5A;
    margin: 0;
    
}

.contenedor-nav-activo-primera-lista {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    font-size: 10px;
    color: #505A5A;
    flex-wrap: wrap;
    
}

.contenedor-nav-activo-primera-lista h6 {
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}

.contenedor-nav-activo-primera-lista li::before {
    content: "-";
    color: #D9000D;
    font-size: 15px;
    padding: 10px;
}
.contenedor-nav-activo-primera-lista ul {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex-wrap: wrap;
    padding-top: 15px;
}

.contenedor-nav-activo-segunda h6 {
    font-weight: 600;
    font-size: 15px;
    color: #505A5A;
}

.imagen-menu-abierto {
    width: 120px;
    height: 160px;
    border: 1px solid;
}

.menu-cards {
    color: #505A5A;
    display: flex;
    

}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.menu-card h6 {
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
}

.menu-card > p {
    font-size: 10px;
    margin: 5px;
}

.card-precio{
    display: flex;
    align-items: center;

}

.menu-card-valor {
    font-size: 15px;
    font-weight: 600;
}

.signo-pesos {
    padding-right: 3px;
    font-size: 5px;
}

.search {
    display: flex;
    justify-content: center;
}
.search-input {
    
    width: 100px;
    border: 1px solid;
    border-right: none;
    text-decoration: none;

}
.search-btn
{
    border: 1px solid;
    border-left: none;
    background: #fff;
    justify-content: center;
    text-decoration: none;
    
}
/*seccion 1*/

.fondo{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    background: transparent url("../img/tractor-fondo.jpg") 0% 0% ;
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-position: center;
    display: flex;

}

.container-texto1{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 0px 150px;

}

.container-texto1 h1 {
    font-size: 80px;
    color: white;
    margin: 0px ;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: 600;
}

.container-texto1 button {
    background: #505A5A;
    border:none;
    color: #fff;
    max-width: 30%;
    margin: 30px;
    padding: 20px;
    font-weight: 600;
}
/* seccion categorias*/

.seccion-categorias{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-texto-categorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9000D;
    color: #fff;
    padding: 30px 0px;
}

.container-texto-categorias h3 {
    width: 45%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
}

.container-texto-categorias p {
    font-size: 13px;
    width: 40%;
    text-align: center;
    justify-self: center;
    margin-top: 10px;

}

.categorias-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card-general{
    width: 25%;
    height: 50vh;
    margin: 0;
    
}

.card-indexposicion{
    position: relative;
}

.card-fondo{
    width: 100%;
    height: 100%; 
}

#fondoVerTodos{
    opacity: 0.7;
}

.card-contenido{

    top:-47vh;
    width: 90%;
    height: 87%;
    margin: auto;
    padding: 15px;
    align-items: center;
    color: #fff;
    
}

.card-contenido img {
    width: 70px;
    height: 90px;
    padding: 10px;
    margin: 85px;
    background: #2D3A4B;
    background-size: auto;
    color: #fff;
    border-radius: 30px;
    display: none;

}


.card-contenido-index {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-contenido-index h5 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.card-contenido-index a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.card-contenido:hover {
    background:rgba(252,235,121,.5);
    color: #2D3A4B ;
}

.card-contenido:hover a {
    color: #2D3A4B ;
}
.card-contenido:hover img {
    display: block;
}

/*seccion accesorios*/

.container-texto3{
    padding: 0;
    margin: 40px;
    width: 100vw;
    height: 218px;
    display: grid;
    align-content: center;
    justify-content: center;   
}
.container-texto3 h3{
    margin: 30px 0px;
    letter-spacing: 0.3em;
}
.container-parrafo3{
    font-size: 15px;
    width: 80vw;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1
}

.container-parrafo3 p {
    padding: 0;
    margin-bottom: 30px;
}
/*carrousel*/

.contenedor-carrousel {
    max-width: 1280px;
    width: 80%;
    margin: auto;
}

.owl-nav button span {
    text-align: center;
}


/* Footer */
footer {
    background: #505A5A;
    max-width: 1920px;
    width: 100vw;
    height: 100%;
    border-style: none;
    display: block;
    color: #fff;
}

ul {
    list-style: none;
}

.contenedor-footer {
    height: 100%;
    width: 100%;
}


/*section*/

.contenedor-footer-section {
    width: 100%;
}

.contenedor-footer-section-elements {
    width: 100%;
    height: 90%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0vh 5vw;
}
.contenedor-footer-section-element{
    height: 100%;
    width: 50%;
    margin: 10px;
}

.primer-elemento{
    width: 20%;
}

.tercer-elemento {
    max-width: 20%;
    padding-left: 15px;
}
.logo {
    margin: 30px 0px 50px 30px;
}

#footer-parrafo {
    margin-left: 30px;
    max-width: 80%;
    font-size: 14px;

}

.footer-titulos {
    margin-top: 100px;
    font-size: 14px;

}
.contenedor-listas {
    height: 40vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 60vh;
    font-size: 12px;
}

.contenedor-listas li {
    width: 15vw;
}
.contenedor-lista-productos{
    height: 40vh;
    max-height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
}

li {
    padding-left: 1em; 
    text-indent: -.7em;

}

li::before {
    content: "• ";
    color: #FFE900; /* or whatever color you prefer */
}

.contenedor-lista-productos li::before {
    content: "- ";
    color: #FFE900; /* or whatever color you prefer */
}
.contenedor-contactenos{
    justify-content:center;
}

.contacto {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.contacto p {
    margin: 0;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    margin-top: 40px;
}

.logo-contacto{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.agencia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.agencia img{
    width: 130px;
    height: 18px;
}

.agencia p {
    margin: 0;
    font-size: 12px;
}